{% extends 'base.html.twig' %}

{% block title %}GSB{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Gestion</h1>
                    <hr />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Vous y trouverez ci-dessous toutes les informations à propos de la gestion de l'entreprise GSB</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block section %}
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">L'équipement</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="page-content container">
	<div class="row">
            
            <div class="col-1"></div>
            
		<div class="col-12 text-left">
   
                    <div class="block" style="background-color: #AAA">
                        <div class="container my-5 d-grid gap-5 ">
                        <div class="p-5">
                            
                                            <p class='text-dark response'>
                                                La DSI (Direction des Services Informatiques) est une entité importante de la structure Europe qui
                                                participe aux choix stratégiques. <br>
                                                Pour Swiss-Bourdin, qui occupait le siège parisien avant la fusion, l'outil informatique et l'utilisation
                                                d'outils décisionnels pour améliorer la vision et la planification de l'activité ont toujours fait partie de la
                                                politique maison, en particulier pour ce qui concerne la partie recherche, production, communication et
                                                juridique.<br>
                                            </p>
                                            <p class='text-danger response'>
                                                <b>La partie commerciale a été le parent pauvre de cette informatisation, les visiteurs étant vus
                                                comme des acteurs distants autonomes. La DSI a convaincu l'entreprise que l'intégration des
                                                données fournies par cette partie aura un impact important sur l'ensemble de l'activité. </b>
                                            </p>
                            
                        </div>
                        </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}