{% extends 'base.html.twig' %}

{% block title %}GSB{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Equipement</h1>
                    <hr />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Vous y trouverez ci-dessous toutes les informations à propos de l'équipement de l'entreprise GSB</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block section %}
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">L'équipement</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="page-content container">
	<div class="row">
            
            <div class="col-1"></div>
            
		<div class="col-12 text-left">
   
                    <div class="block" style="background-color: #AAA">
                        <div class="container my-5 d-grid gap-5 ">
                        <div class="p-5">
                                            <p class='text-dark response'>
                                                L'informatique est fortement répandue sur le site.<br> 
                                                Chaque employé est équipé d'un poste fixe relié au système central. <br>
                                                On dénombre ainsi plus de 350 équipements terminaux et un nombre de serveurs physiques conséquent 
                                                (45 en 2012) sur lesquels tournent plus de 100 serveurs virtuels.<br>
                                                On trouve aussi des stations de travail plus puissantes dans la partie labo-recherche, et une 
                                                multitude d'ordinateurs portables (personnels de direction, service informatique, services commerciaux, etc). <br>
                                                Les visiteurs médicaux reçoivent une indemnité bisannuelle pour s'équiper en informatique (politique
                                                Swiss-Bourdin) ou une dotation en équipement (politique Galaxy). <br>
                                                Il n'y a pas à l'heure actuelle d'uniformisation des machines ni du mode de fonctionnement. <br>
                                                Chaque employé de l'entreprise a une adresse de messagerie de la forme nomUtilisateur@swissgalaxy.com. <br>
                                                Les anciennes adresses de chaque laboratoire ont été définitivement fermées au 1er janvier 2011. <br>
                                            </p>
                                        </div>
                                </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}