{% extends 'base.html.twig' %}

{% block title %}GSB{% endblock %}

{% block header %}
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">GSB</h1>
                    <hr />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Vous y trouverez ci-dessous toutes les informations à propos du GSB de l'entreprise GSB</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block section %}
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">L'équipement</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="page-content container">
	<div class="row">
            
            <div class="col-1"></div>
            
		<div class="col-12 text-left">
   
                    <div class="block" style="background-color: #AAA">
                        <div class="container my-5 d-grid gap-5 ">
                        <div class="p-5">
                                            <p class='text-dark' style='font-size: 30px'>
                                                <b><u>Le secteur d'activité</u></b>
                                            </p>
                                            <p class='text-dark response'>
                                                L’industrie pharmaceutique est un secteur très lucratif dans lequel le mouvement de fusion acquisition
                                                est très fort. <br>Les regroupements de laboratoires ces dernières années ont donné naissance à des
                                                entités gigantesques au sein desquelles le travail est longtemps resté organisé selon les anciennes
                                                structures. <br>
                                                Des déboires divers récents autour de médicaments ou molécules ayant entraîné des complications
                                                médicales ont fait s'élever des voix contre une partie de l'activité des laboratoires : la visite médicale,
                                                réputée être le lieu d' arrangements entre l'industrie et les praticiens, et tout du moins un terrain
                                                d'influence opaque.
                                            </p>
                                            <p class='text-dark' style='font-size: 30px'>
                                                <b><u>L'entreprise</u></b>
                                            </p>
                                            <p class='text-dark response'>
                                                Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le géant américain Galaxy
                                                (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et le conglomérat
                                                européen Swiss Bourdin (travaillant sur des médicaments plus conventionnels), lui même déjà union
                                                de trois petits laboratoires .<br>
                                                En 2009, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur
                                                industriel.<br> L'entité Galaxy Swiss Bourdin Europe a établi son siège administratif à Paris. <br>
                                                Le siège social de la multinationale est situé à Philadelphie, Pennsylvanie, aux Etats-Unis. <br>
                                            </p>
                                            <p class='text-danger response'>
                                                <b>La France a été choisie comme témoin pour l'amélioration du suivi de l'activité de visite.</b>

                                            </p>
                                        </div>
                                </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
